/* HEADER */

header{
  height: 40vh;
  background-color: #ebf6f6;
}

#logo{
  padding: 2em;
}

#logo img {
 display: block;
 width: 10%;
 margin: auto;
}

header ul{
  display: flex;
  align-items: center;
  justify-content: center;
}

header li{
  padding-right: 1em;
  padding-left: 1em;
}

header a{
  text-decoration: none;
  color: #69c0ac;
}

/* ARTICLE */

/* FOOTER */
