/* COLORS*/

/* VERT
#ebf6f6
#c0e1d7
#99d0c1
#69c0ac
#319c93
#007976
#00574f

GRIS
#4a4a49
#9d9d9c
*/

/* HEADER */

header{
  height: 40vh;
  background-color: #f5fafb;
}

#logo{
  padding: 2em;
}

#logo img {
 display: block;
 width: 8%;
 margin: auto;
}

#menu {
  display: flex;
  align-items: center;
  justify-content: center;
}

#menu li{
  padding-right: 1.5em;
  padding-left: 1.5em;
}

#menu a{
  text-decoration: none;
}

#reseaux {
  display: flex;
  align-items: center;
  justify-content: center;
}

#reseaux img{
  width: 20px;
  padding-top: 1em;
  margin: 0.8em;
}

/* ARTICLE */

/* FOOTER */
