body {
  background-color: white;
}
html{
  width: 100vw;
}

/* HEADER */

.menu--01{
  height: 90px;
  background-color: #f5fafb;
}

.menu--02{
  height: 70px;
  background-color: white;
  box-shadow: 0px 5px 15px rgba(105, 192, 172, 0.15);
}

#logo{
position: absolute;
margin-left: 40px;
margin-top: 20px;
}

#logo img{
width: 50px;
height: 50px;
}

#nom img{
  position: absolute;
  width: 150px;
  margin-top: 20px;
  margin-left: 90px;
}

#menu--liens{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-content: center;
  padding-top: 25px;
  margin-right: 40px;
}

#menu--liens a{
  margin-left: 20px;
  margin-right: 20px;
}

.menu--02{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.menu--02 img{
  width: 30px;
  margin-left: 30px;
  margin-right: 30px;
}

@media screen and (min-width: 1500px){
  .menu--02 img{
    margin-left: 50px;
    margin-right: 50px;
  }
}

@media screen and (max-width: 1000px){
  #logo{
  margin-left: 20px;
  }
  #menu--liens{
    padding-top: 30px;
    margin-right: 20px;
  }
  #menu--liens a{
    margin-left: 10px;
    margin-right: 10px;
  }
  #nom img{
    margin-left: 70px;
  }
}

@media screen and (max-width: 650px){
  #logo{
  margin-top: 25px;
  }
  #logo img{
  width: 40px;
  height: 40px;
  }
  #nom img{
    width: 100px;
    margin-top: 25px;
    margin-left: 60px;
  }
  #menu--liens{
    padding-top: 30px;
    margin-right: 20px;
  }
}

/* PORTFOLIO */

article{
  margin-top: 100px;
}

#video{
  display: block;
  margin: auto;
  max-width: 90%;
  height: auto;
  margin-bottom: 50px;
}

#video h2{
  text-align: center;
  margin-top: 20px;
}

iframe{
  display: block;
  margin: auto;
  max-width: 100%;
  max-height: 100%;
}

.projets--liste{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 30px;
}

.projets{
  display: block;
  width: 25%;
  margin: 2%;
}

.projets img{
  display: block;
  max-width: 100%;
  filter: grayscale(0);
  transition: 0.5s;
}

.projets:hover img{
  filter: grayscale(1);
}

.projets h2{
  margin-top: 20px;
  text-align: center;
  transition: 0.5s;
}

.projets:hover h2{
  color: #007976;
}

@media screen and (max-width: 1000px){
  .projets{
    width: 35vw;
  }
}

@media screen and (max-width: 650px){
  iframe{
    margin-top: -150px;
    margin-bottom: -100px;
  }
}

/* ABOUT */

p{
  display: block;
  margin: auto;
  max-width: 60%;
  margin-bottom: 0;
}
.p--english{
  margin-top: 0;
}

.titre--section--cv{
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  margin-left: 15%;
  margin-top: 50px;
  margin-bottom: 50px;
}

#rectangle {
      width: 250px;
      height: 2px;
      background: #B2B2B2;
    }

.section--cv{
  display: block;
  max-width: 65%;
  margin: auto;
  margin-top: 25px;
}

.section--cv h4{
  margin: 0;
  margin-top: 5px;
  max-width: 70%;
}

.skills{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  max-width: 70%;
  margin: auto;
}

.skills img{
  width: 80px;
  height: 80px;
  margin: 35px;
}

@media screen and (max-width: 1000px){
  #rectangle {
        display: none;
      }
  .section--cv{
        margin-top: 40px;
      }
      .section--cv h4{
        margin-top: 10px;
        max-width: 90%;
      }
    }

/* CONTACT */

.contact{
  display: block;
  max-width: 40%;
  margin: auto;
  margin-top: 25px;
}

input, textarea{
  width: 100%;
  margin: auto;
  margin-top: 15px;
  color: #C4C4C4;
  border: 2px solid #C4C4C4;
  border-radius: 10px;
  padding: 10px;
}

.button{
  margin-left: 30%;
  margin-top: 50px;
}

button{
  width: 150px;
  height: 50px;
  background: #C0E1D7;
  border: none;
  border-radius: 5px;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
button:hover{
  background: #69C0AC;
}

.telecharger--cv{
  display: flex;
  justify-content: center;
  align-content: center;
  max-width: 80vw;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
}

#CV button{
  width: 25vw;
  height: 100px;
  border-radius: 10px;
  margin: 50px;
}

@media screen and (max-width: 650px){
  #CV button{
    width: 35vw;
    margin: 30px;
  }
}

/* PROJET */

.titre{
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.photo--couverture{
  display: block;
  width: 800px;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
}

.identite{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  max-width: 90vw;
  margin: auto;
}

.couleur{
  text-align: center;
  margin: 50px;
}

.cercle{
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin: auto;
  margin-bottom: 50px;
}

@media screen and (max-width: 1000px){
.couleur h4{
  width:80vw;
}
    }

@media screen and (max-width: 650px){
  .photo--couverture{
    width: 85vw;
  }
    }

/**/
#circle--despe--01{
      background: #F29EC4;
}
#circle--despe--02{
      background: #302B6B;
}
#circle--despe--03{
      background: #62B8E8;
}

/**/
#circle--base--01{
  background: #C61A27;
}
#circle--base--02{
  background: #3C3C3C;
}

/**/
#circle--tryo--01{
  background: #387c7b;
}
#circle--tryo--02{
  background: #7dccc7;
}
#circle--tryo--03{
  background: #bde4e5;
}
#circle--tryo--04{
  background: #cd934d;
}

/**/
#circle--ca--01{
  background: #7fccdf;
}
#circle--ca--02{
  background: #e72486;
}
#circle--ca--03{
  background: #8fbf21;
}
#circle--ca--04{
  background: #f59c00;
}

/**/
#circle--hesto--01{
  background: #000000;
}
#circle--hesto--02{
  background: #83d0f5;
}
#circle--hesto--03{
  background: #f39200;
}

/* IMAGES */

.images{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-end;
  max-width: 90%;
  margin: auto;
}
.images h4{
  justify-content: center;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 20px;
}

.typo{
  display: block;
  width: 600px;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
}
#declinaisons{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  max-width: 80%;
  margin: auto;
}

#declinaisons img{
  display: block;
  width: 150px;
  height: 150px;
  margin: 20px;
}

.petites--images img{
  display: block;
  width: 30vw;
}

.petites--images{
  display: block;
  width: 30vw;
  margin: 25px;
}

.moodboard{
  display: block;
  width: 90vw;
  margin: auto;
  padding: 25px;
}

.animatic--c13 img{
  display: block;
  width: 400px;
  margin: auto;
  padding: 20px;
}

#projet--typo-illu img{
  display: block;
  width: 500px;
  margin: auto;
  padding: 20px;
}

#arcade img{
  display: block;
  width: 350px;
  margin: auto;
  padding: 20px;
}

@media screen and (max-width: 1000px){
.petites--images{
  width: 80vw;
}
.petites--images img{
  display: block;
  width: 80vw;
}
    }

@media screen and (max-width: 650px){
  .typo{
    width: 85vw;
  }
    }

/* BACKGROUND FIXE */

.background--fixe{
  height: 60vh;
  width: 100vw;
  margin-top: 100px;
  margin-bottom: 100px;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  overflow: hidden;
}

#bcg--wm{
  background-image: url('../images/wine&me/maquettes-wine&me.png');
}

#bcg--despe{
  background-image: url('../images/desperados/bcg-fond.png');
}

#bcg--bad{
  background-image: url('../images/borne-d-arcade/composition.png');
}

#bcg--c13{
  background-image: url('../images/collectif13/20-images/G1-01.jpg');
}

#bcg--ataqana{
  background-image: url('../images/ataqana/bureau_01.png');
}

@media screen and (max-width: 1000px){
  .background--fixe{
    display: none;
  }
        }

/* DESPERADOS */

.despe--montage img{
  display: block;
  width: 30vw;
  margin:25px;
}

.despe--1bouteille img{
  display: block;
  max-width: 330px;
  margin: 50px;
}

.despe--3bouteilles img{
  display: block;
  max-width: 760px;
  margin: 50px;
}

#bouteilles{
  width:80%;
margin: auto;
}

@media screen and (min-width: 1500px){
#bouteilles{
  max-width: 70%;
}
    }

@media screen and (max-width: 1000px){
  .despe--montage img{
    width: 80vw;
  }
        }

/* BACK TO TOP */

#top{
  display: block;
  margin: auto;
  max-width: 20%;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 80px;
}

#top img{
  height: 1em;
}
