@import url('https://fonts.googleapis.com/css?family=Josefin+Slab:100,100i,300,300i,400,400i,600,600i,700,700i&display=swap');

html{
  text-decoration: none;
}
a {
  text-decoration: none;
}

/* HEADER */

#menu--liens a{
font-family: 'Josefin Slab', serif;
font-style: normal;
font-weight: 400;
font-size: 35px;
color: #C0E1D7;
text-decoration: none;
}

#menu--liens a:hover{
  color: #007976;
}
/**/
#titre--portfolio a{
  color: #007976;
}
#titre--about a{
color: #007976;
}
#titre--contact a{
  color: #007976;
}

/* ARTICLE */
h1{
  font-family: 'Josefin Slab', serif;
  font-style: normal;
  font-weight: bold;
  font-size: 35px;
  line-height: 130%;
  color: #69C0AC;
}

h2{
  font-family: 'Josefin Slab', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  color: #C0E1D7;
  text-decoration: none;
}

h3{
  font-family: 'Josefin Slab', serif;
  font-style: normal;
  font-weight: bold;
  font-size:28px;
  line-height: 130%;
  color: #C0E1D7;
}

h4{
  font-family: 'Josefin Slab', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 150%;
  color: #C4C4C4;
  margin-left: 10px;
  margin-right: 30px;
}

p{
  font-family: 'Josefin Slab', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 150%;
  color: #69C0AC;
}
.p--english{
  color: #C4C4C4;
}

/* CONTACT */

.contact h1{
  font-family: 'Josefin Slab', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 130%;
  color: #69C0AC;
  margin-left: 5%;
}

input, textarea{
  font-family: 'Josefin Slab', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 130%;
}

button{
  font-family: 'Josefin Slab', serif;
  font-style: normal;
  font-weight: bold;
  font-size: 1.5em;
  line-height: 130%;
  color: #FFFFFF;

}

/* BACK TO TOP */

#top{
  font-family: 'Josefin Slab', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  color: #E5E5E5;
  text-decoration: none;
}

font-family: 'Josefin Slab', serif;
