html{
  text-decoration: none;
}

h1{
  font-family: 'museo-slab', serif;
  font-weight: 300;
  font-style: normal;
  text-align: center;
  font-size: 3.2em;
}

h2{

}

h2{

}

h4{

}

p{

}

Museo Slab 100
font-family: museo-slab, serif;
font-weight: 100;
font-style: normal;

Museo Slab 100 Italic
font-family: museo-slab, serif;
font-weight: 100;
font-style: italic;

Museo Slab 300
font-family: museo-slab, serif;
font-weight: 300;
font-style: normal;

Museo Slab 300 Italic
font-family: museo-slab, serif;
font-weight: 300;
font-style: italic;

Museo Slab 500
font-family: museo-slab, serif;
font-weight: 500;
font-style: normal;

Museo Slab 500 Italic
font-family: museo-slab, serif;
font-weight: 500;
font-style: italic;

Museo Slab 700
font-family: museo-slab, serif;
font-weight: 700;
font-style: normal;

Museo Slab 700 Italic
font-family: museo-slab, serif;
font-weight: 700;
font-style: italic;

Museo Slab 1000
font-family: museo-slab, serif;
font-weight: 900;
font-style: normal;

Museo Slab 1000 Italic
font-family: museo-slab, serif;
font-weight: 900;
font-style: italic;

Museo Slab 900
font-family: museo-slab, serif;
font-weight: 800;
font-style: normal;

Museo Slab 900 Italic
font-family: museo-slab, serif;
font-weight: 800;
font-style: italic;
