html{
  text-decoration: none;
}
a {
  text-decoration: none;
}

::selection{
  background-color: #00f0be;
  color: white;
}

/* Firefox */
::-moz-selection {
  background-color: #00f0be;
  color: white;
}

/* HEADER */

.menu--liens a{
  font-family: 'Campton';
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  font-size: 25px;
  color: white;
}

#nom{
  font-family: 'Campton';
  font-weight: bold;
  font-style: normal;
  font-display: swap;
  letter-spacing: 4px;
  line-height: 20px;
  font-size: 15px;
  color: white;
}

@media screen and (max-width: 650px){
  #menu--liens a{
  font-size: 25px;
  }
}

/* ARTICLE */

h1{
  font-family: 'Campton';
  src: url('Campton-SemiBold.woff2') format('woff2'),
      url('Campton-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-size: 2em;
  line-height: 130%;
  color: #00f0be;
  text-transform: uppercase;
  letter-spacing: 0.4rem;
}

h2{
  font-family: 'Campton';
  src: url('Campton-Light.woff2') format('woff2'),
      url('Campton-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-size: 1.4em;
  line-height: 130%;
  color: #2d2d2d;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
}

h3{
  font-family: 'Campton';
  src: url('Campton-Bold.woff2') format('woff2'),
      url('Campton-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-size: 1.4em;
  line-height: 130%;
  color: #2d2d2d;
}

h4{
  font-family: 'Campton';
  src: url('Campton-Book.woff2') format('woff2'),
      url('Campton-Book.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-size: 1.3em;
  line-height: 150%;
  color: #2d2d2d;
}
.section--cv span{
  font-family: 'Campton';
  src: url('Campton-Medium.woff2') format('woff2'),
      url('Campton-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

p{
  font-family: 'Campton';
  src: url('Campton-Medium.woff2') format('woff2'),
      url('Campton-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-size: 1.5em;
  line-height: 150%;
  color: #2d2d2d;
}
.p--english{
  font-family: 'Campton';
  src: url('Campton-Light.woff2') format('woff2'),
      url('Campton-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-size: 1.2em;
  color: #9d9d9d;
}
.section--cv .p--english{
  margin: 0;
  font-size: 1em;
}
p span{
  font-family: 'Campton';
  src: url('Campton-Bold.woff2') format('woff2'),
      url('Campton-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
color: #00f0be;
}

@media screen and (max-width: 650px){
  h2{
  font-size: 20px;
  }
}

/* CONTACT */

.contact h1{
  font-family: 'Campton';
  src: url('Campton-SemiBold.woff2') format('woff2'),
      url('Campton-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-size: 1.5em;
  line-height: 130%;
  color: #00f0be;
}

input, textarea{
  font-family: 'Campton';
  src: url('Campton-Book.woff2') format('woff2'),
      url('Campton-Book.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-size: 1.1em;
  line-height: 130%;
  color: #2d2d2d;
}

button{
  font-family: 'Campton';
  src: url('Campton-SemiBold.woff2') format('woff2'),
      url('Campton-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-size: 1.2em;
  color: white;
  text-transform: uppercase;
  letter-spacing: 0.4rem;
}

/* ABOUT */

.button--cv{
  font-size: 0.8em;
}
.button--cv .p--english{
  font-size: 1em;
}

/* BACK TO TOP */

#top{
  font-family: 'Campton';
  src: url('Campton-Book.woff2') format('woff2'),
      url('Campton-Book.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-size: 1.2em;
  color: #E5E5E5;
  text-decoration: none;
}
#top:hover{
  color:#2d2d2d;
}
/**/

@font-face {
    font-family: 'Campton';
    src: url('Campton-Thin.woff2') format('woff2'),
        url('Campton-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Campton';
    src: url('Campton-ThinItalic.woff2') format('woff2'),
        url('Campton-ThinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Campton';
    src: url('Campton-ExtraLight.woff2') format('woff2'),
        url('Campton-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Campton';
    src: url('Campton-ExtraLightItalic.woff2') format('woff2'),
        url('Campton-ExtraLightItalic.woff') format('woff');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Campton';
    src: url('Campton-Light.woff2') format('woff2'),
        url('Campton-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Campton';
    src: url('Campton-LightItalic.woff2') format('woff2'),
        url('Campton-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Campton';
    src: url('Campton-Book.woff2') format('woff2'),
        url('Campton-Book.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Campton';
    src: url('Campton-BookItalic.woff2') format('woff2'),
        url('Campton-BookItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Campton';
    src: url('Campton-Medium.woff2') format('woff2'),
        url('Campton-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Campton';
    src: url('Campton-MediumItalic.woff2') format('woff2'),
        url('Campton-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Campton';
    src: url('Campton-SemiBold.woff2') format('woff2'),
        url('Campton-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Campton';
    src: url('Campton-SemiBoldItalic.woff2') format('woff2'),
        url('Campton-SemiBoldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Campton';
    src: url('Campton-Bold.woff2') format('woff2'),
        url('Campton-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Campton';
    src: url('Campton-BoldItalic.woff2') format('woff2'),
        url('Campton-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Campton';
    src: url('Campton-ExtraBold.woff2') format('woff2'),
        url('Campton-ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Campton';
    src: url('Campton-ExtraBoldItalic.woff2') format('woff2'),
        url('Campton-ExtraBoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Campton';
    src: url('Campton-Black.woff2') format('woff2'),
        url('Campton-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Campton';
    src: url('Campton-BlackItalic.woff2') format('woff2'),
        url('Campton-BlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}
