#shadow{
  box-shadow: 5px 5px 15px #d0d0d0;
}

/* TITRES */

.titre--section{
  margin-left: 10vw;
}

/* LARGES PICS */

.one--pic{
  width: 50vw;
  margin: auto;
  padding: 20px;
  text-align: center;
}
.one--pic img{
  max-width: 50vw;
}

.large--pic{
  width: 90vw;
  margin: auto;
  padding: 20px;
  text-align: center;
}
.large--pic img{
  max-width: 90vw;
}

#key--visual img{
  margin: 0;
}

/* LINE */

.line{
  width: 100vw;
  height: 100px;
  margin-top: 40px;
  margin-bottom: 40px;
  background-attachment: fixed;
  background-size: 100vw;
  background-position: center;
  background-repeat: no-repeat;
}

@media screen and (max-width: 1200px){
  .line{
    background-size: 100vh;
  }
}

/* LINE 02 */

.line--02{
  width: 100vw;
  height: 75vh;
  margin-top: 50px;
  margin-bottom: 50px;
  background-attachment: fixed;
  background-size: 100vw;
  background-position: center;
  background-repeat: no-repeat;
}

@media screen and (max-width: 1200px){
  .line--02{
    background-attachment: scroll;
  }
}

/* COLORS */

.colors{
  width: 100vw;
  height: 120px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap:50vw;
}
.colors li{
  width: 20vw;
}
.colors h1{
  font-family: 'Campton';
  font-weight: bold;
  font-style: normal;
  font-size: 1.5em;
  color: white;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  text-align: center;
}
.colors p{
  font-family: 'Campton';
  font-weight: 500;
  font-style: normal;
  font-size: 1em;
  line-height: 150%;
  color: white;
  text-align: center;
}
.colors p span{
  color: white;
}
#color--white h1,
#color--white p,
#color--white span{
  color:grey;
}

/* LITTLE PICS */

#little--pics img{
  width: 25vw;
}

#very--little--pics img{
  max-width: 15vw;
}

/* CARTES */

.three--blocs--01{
  max-width: 90vw;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: wrap;
  align-items: center;
  justify-content: center;
}
.three--blocs--01 img{
  max-width: 40vw;
  margin: 20px;
}
.three--blocs--02{
  display: flex;
  flex-direction: column;
  align-items: right;
  justify-content: center;
}
.three--blocs--02 img{
  max-width: 40vw;
  margin: 20px;
}

/* DIFFUSION */

.diffusion{
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* ANAVAI */

#line--01--anavai{
  background-image: url('../../images/motion_design/anavai/anavai_ligne.jpg');
}

/* ATN */

#line--01--atn{
  background-image: url('../../images/motion_design/atn/atn_ligne.jpg');
}

/* COLLECTIF 13 */

#line--01--c13{
  background-image: url('../../images/motion_design/collectif13/c13_ligne.jpg');
}

/* DIREN */

#line--01--diren{
  background-image: url('../../images/motion_design/diren/diren_compostage_ligne.jpg');
}

#line--02--diren{
  background-image: url('../../images/motion_design/diren/diren_economies_ligne.jpg');
}

#line--03--diren{
  background-image: url('../../images/motion_design/diren/diren_emballage_ligne.jpg');
}

/* DS */

#line--01--ds{
  background-image: url('../../images/motion_design/ds/ds_ligne.jpg');
}

/* EAU ROYALE */

#line--01--eau_royale{
  background-image: url('../../images/motion_design/eau_royale/eau_royale_ligne.jpg');
}

/* FARE RATA */

#line--01--fare_rata{
  background-image: url('../../images/motion_design/fare_rata/fare_rata_ligne.jpg');
}

/* MIKLUS */

#line--01--miklus{
  background-image: url('../../images/motion_design/miklus/miklus_rexton_ligne.jpg');
}

#line--02--miklus{
  background-image: url('../../images/motion_design/miklus/miklus_musso_ligne.jpg');
}

#line--03--miklus{
  background-image: url('../../images/motion_design/miklus/miklus_korando_ligne.jpg');
}

/* NIPPON AUTO */

#line--01--nippon{
  background-image: url('../../images/motion_design/nippon_auto/nippon_swift_ligne.jpg');
}

#line--02--nippon{
  background-image: url('../../images/motion_design/nippon_auto/nippon_CH-R_ligne.jpg');
}

#line--03--nippon{
  background-image: url('../../images/motion_design/nippon_auto/nippon_yaris_ligne.jpg');
}

/* OPT */

#line--01--opt{
  background-image: url('../../images/motion_design/opt/opt_ligne.jpg');
}

/* PROX-I */

#line--01--prox-i{
  background-image: url('../../images/motion_design/prox-i/prox-i_ligne.jpg');
}

/* ROTUI */

#line--01--rotui{
  background-image: url('../../images/motion_design/rotui/rotui_ligne.jpg');
}

/* SOCREDO */

#line--01--socredo{
  background-image: url('../../images/motion_design/socredo/socredo_websoc_ligne.jpg');
}

#line--02--socredo{
  background-image: url('../../images/motion_design/socredo/socredo_socpay_ligne.jpg');
}

#line--03--socredo{
  background-image: url('../../images/motion_design/socredo/socredo_socenvie_ligne.jpg');
}

/* SOFIDEP */

#line--01--sofidep{
  background-image: url('../../images/motion_design/sofidep/sofidep_logo_ligne.jpg');
}

#line--02--sofidep{
  background-image: url('../../images/motion_design/sofidep/sofidep_cover_ligne.jpg');
}

#line--03--sofidep{
  background-image: url('../../images/motion_design/sofidep/sofidep_post_ligne.jpg');
}

#line--04--sofidep{
  background-image: url('../../images/motion_design/sofidep/sofidep_tuto_ligne.jpg');
}

/* SPCPF */

#line--01--spcpf{
  background-image: url('../../images/motion_design/spcpf/spcpf_ligne.jpg');
}

#line--02--spcpf{
  background-image: url('../../images/motion_design/spcpf/spcpf_cantine_ligne.jpg');
}

/* TABU */

#line--01--tabu{
  background-image: url('../../images/motion_design/tabu/tabu_mojito_ligne.jpg');
}

#line--02--tabu{
  background-image: url('../../images/motion_design/tabu/tabu_lemon_ligne.jpg');
}

#line--03--tabu{
  background-image: url('../../images/motion_design/tabu/tabu_vodka_ligne.jpg');
}

#line--04--tabu{
  background-image: url('../../images/motion_design/tabu/tabu_pomme_ligne.jpg');
}

#line--05--tabu{
  background-image: url('../../images/motion_design/tabu/tabu_gamme_ligne.jpg');
}

/* VINI */

#line--01--vini{
  background-image: url('../../images/motion_design/vini/vini_evenement_ligne.jpg');
}

#line--02--vini{
  background-image: url('../../images/motion_design/vini/vini_phone_ligne.jpg');
}
