#shadow{
  box-shadow: 5px 5px 15px #d0d0d0;
}

/* TITRES */

.titre--section{
  margin-left: 10vw;
}

/* LIST */

.list--pics{
  max-width: 90vw;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.list--pics img{
margin: 20px;
max-width: 40vw;
}

.list--pics h2{
  margin: 20px;
}

/* LARGES PICS */

.one--pic{
  max-width: 50vw;
  margin: auto;
}
.one--pic img{
  max-width: 50vw;
  margin: 20px;
}

.large--pic{
  width: 90vw;
  margin: auto;
}
.large--pic img{
  width: 90vw;
}

#key--visual img{
  margin: 0;
}

/* LINE */

.line{
  width: 100vw;
  height: 100px;
  margin-top: 40px;
  margin-bottom: 40px;
  background-attachment: fixed;
  background-size: 100vw;
  background-position: center;
  background-repeat: no-repeat;
}

@media screen and (max-width: 1200px){
  .line{
    background-size: 100vh;
  }
}

/* LINE 02 */

.line--02{
  width: 100vw;
  height: 75vh;
  margin-top: 50px;
  margin-bottom: 50px;
  background-attachment: fixed;
  background-size: 100vw;
  background-position: center;
  background-repeat: no-repeat;
}

@media screen and (max-width: 1200px){
  .line--02{
    background-attachment: scroll;
  }
}

/* COLORS */

.colors{
  width: 100vw;
  height: 120px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap:50vw;
}
.colors li{
  width: 20vw;
}
.colors h1{
  font-family: 'Campton';
  font-weight: bold;
  font-style: normal;
  font-size: 1.5em;
  color: white;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  text-align: center;
}
.colors p{
  font-family: 'Campton';
  font-weight: 500;
  font-style: normal;
  font-size: 1em;
  line-height: 150%;
  color: white;
  text-align: center;
}
.colors p span{
  color: white;
}
#color--white h1,
#color--white p,
#color--white span{
  color:grey;
}

/* LITTLE PICS */

#little--pics img{
  width: 25vw;
}

/* CARTES */

.cartes--01{
  max-width: 90vw;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: wrap;
  align-items: center;
  justify-content: center;
}
.cartes--01 img{
  max-width: 40vw;
  margin: 20px;
}
.cartes--02{
  display: flex;
  flex-direction: column;
  align-items: right;
  justify-content: center;
}
.cartes--02 img{
  max-width: 40vw;
  margin: 20px;
}

/* VIDEO */
